.searchListWrap {
  .ant-card {
    .ant-list {
      .ant-row {
        > div {
          flex: 1 1 auto;
        }
      }
    }
  }

  .space-between {
    display: flex;
    justify-content: space-between;
  }

  .card-id-title {
    font-size: 16px;
    .space-between();

    + div {
      color: #797979;
      font-size: 14px;
      margin-top: 5px;
      .space-between();
      .ant-tag {
        margin: 0;
      }
    }
  }

  .card-content-title {
    height: 50px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .card-content {
    border-top: 1px dashed #ccc;
    padding-top: 10px;
    text-indent: 26px;
  }
}