.settingWrap {
  width: 100%;
  display: flex;
  margin: 20px 0;
  .custom-default-menu, .custom-dark-menu {
    width: 220px;
  }
  .rightContent {
    flex: 1 1 auto;

    .baseContent {
      display: flex;
      .leftSetting {
        width: 440px;
      }
      .rightSetting {
        flex: 1 1;
        padding-left: 104px;
      }
    }
  }
}